## Interview questions 

https://drive.google.com/drive/folders/1BrZ3ZRDYvwGiiFoH13PEGv-c9RQ0-vWE

https://colab.research.google.com/drive/1zfOkg1XCkXVHBQ26soQgPFL3eVFhHLfS - Linear regression notebook

## Linear regression

### Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from pandas_profiling import ProfileReport

In [2]:
df = pd.read_csv('Advertising.csv')
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

### Defining the problem 
    > We have 3 columns regarding 3 various types of advertisement:
        * TV,
        * Radio, 
        * Newspaper.

Our task is to study, how much the differnt types of advertisement impact the sales. And build a model, which will predict the impact on sales.  

Task #2 - Were the amount of money invest in the specific type of adverisement will allow to achieve the goal in sales?
Task #3 - If there are some relations between variables? If they are we can try to implement Linear Regression.

In [3]:
# Basic EDA
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
df.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [5]:
# Pandas profiling
ProfileReport(df)

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [6]:
# Saving PF to variable for beautification
pf = ProfileReport(df)
pf.to_widgets()

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [8]:
# Saving report
pf.to_file('pf_advertising.html')

### Multicolinearity 

Two independent variable which are highly correlated to each other. In this case one of them needs to be dropped. Why? Because upon feeding the data to the model, it will start to learn correlation in the dataset (x1, x2) and not work on the correlations between x and y. 


> In this dataset we do not have multicolinearity. We do not need to drop any columns, because of it.

## Building a model

Building Linear regression model with Tv and Sales. (the highest correlation)

y = mx + c

y - predictions
m - 
c -

In [16]:
# Selecting variables X, y
X = df[['TV']]
y = df['Sales']

### Using sklearn

In [11]:
from sklearn.linear_model import LinearRegression

In [14]:
lin_reg = LinearRegression()

In [17]:
lin_reg.fit(X, y)

LinearRegression()

#### Checking the values of m and c

In [18]:
lin_reg.intercept_ # c value

7.032593549127693

In [19]:
lin_reg.coef_ # m value

array([0.04753664])

#### Equation for sales

    > sales = m*x + c

In [21]:
# Saving model to file
model = 'lin_reg.sav'
pickle.dump(lin_reg, open(model,'wb'))

#### Predictions

In [23]:
# Predicting 45 on Tv, results in sales
lin_reg.predict([[45]])

array([9.17174237])

In [24]:
# Predicting on multiple values
l = [4,5,6,7,89,34,45,67,23]

for i in l:
    print(lin_reg.predict([[i]]))

[7.22274011]
[7.27027675]
[7.31781339]
[7.36535003]
[11.26335455]
[8.64883932]
[9.17174237]
[10.21754846]
[8.12593628]