In [2]:
conda install -c plotly plotly

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\kskua\anaconda3

  added / updated specs:
    - plotly


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.11.0               |   py39haa95532_0        14.4 MB
    plotly-5.5.0               |             py_0         6.9 MB  plotly
    tenacity-8.0.1             |   py39haa95532_0          34 KB
    ------------------------------------------------------------
                                           Total:        21.4 MB

The following NEW packages will be INSTALLED:

  plotly             plotly/noarch::plotly-5.5.0-py_0
  tenacity           pkgs/main/win-64::tenacity-8.0.1-py39haa95532_0

The following packages will be UPDATED:

  conda                               4.10.3-py39haa95532_0 --> 4.11.0-py39haa95532_0



Downloading and Extracting Packages

conda-4.11.0         | 14.4 MB   |            |   0%
conda-4.11.0         | 14.4 MB   |            |   0%
conda-4.11.0         | 14.4 MB   | #          |  10%
conda-4.11.0         | 14.4 MB   | ##         |  20%
conda-4.11.0         | 14.4 MB   | ##9        |  30%
conda-4.11.0         | 14.4 MB   | ###9       |  39%
conda-4.11.0         | 14.4 MB   | ####8      |  49%
conda-4.11.0         | 14.4 MB   | #####7     |  58%
conda-4.11.0         | 14.4 MB   | ######6    |  67%
conda-4.11.0         | 14.4 MB   | #######5   |  76%
conda-4.11.0         | 14.4 MB   | ########6  |  86%
conda-4.11.0         | 14.4 MB   | #########5 |  96%
conda-4.11.0         | 14.4 MB   | ########## | 100%

plotly-5.5.0         | 6.9 MB    |            |   0%
plotly-5.5.0         | 6.9 MB    | ########## | 100%
plotly-5.5.0         | 6.9 MB    | ########## | 100%

tenacity-8.0.1       | 34 KB     |            |   0%
tenacity-8.0.1       | 34 KB     | ########## | 100%
tenacity-8.0.1       | 34 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [5]:
conda install -c anaconda pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\kskua\anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymysql-1.0.2              |   py39haa95532_1          77 KB
    ------------------------------------------------------------
                                           Total:          77 KB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/win-64::pymysql-1.0.2-py39haa95532_1



Downloading and Extracting Packages

pymysql-1.0.2        | 77 KB     |            |   0%
pymysql-1.0.2        | 77 KB     | ##         |  21%
pymysql-1.0.2        | 77 KB     | ########## | 100%
pymysql-1.0.2        | 77 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import seaborn as sns
import plotly.express as px
import math
import pymysql
pd.set_option('display.max_column', None)

In [7]:
dbcon = pymysql.connect(host='localhost', user='root', password='MYSQL', database='brest_cancer_db')

In [8]:
dbcon

## Reading data from SQL

In [9]:
pd.read_sql_query("""select * from breast_cancer_data where diagnosis=1""", dbcon, parse_dates=True)

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
0,13.540,14.36,87.46,566.3,0.09779,1
1,13.080,15.71,85.63,520.0,0.10750,1
2,9.504,12.44,60.34,273.9,0.10240,1
3,13.030,18.42,82.61,523.8,0.08983,1
4,8.196,16.84,51.71,201.9,0.08600,1
...,...,...,...,...,...,...
352,14.590,22.68,96.39,657.1,0.08473,1
353,11.510,23.93,74.52,403.5,0.09261,1
354,14.050,27.15,91.38,600.4,0.09929,1
355,11.200,29.37,70.67,386.0,0.07449,1
356,7.760,24.54,47.92,181.0,0.05263,1

## Loading data for EDA and Model Training

In [11]:
df = pd.read_sql_query("""select * from breast_cancer_data""", dbcon, parse_dates=True)

In [12]:
df.head()

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
0,17.99,10.38,122.80,1001.0,0.11840,0
1,20.57,17.77,132.90,1326.0,0.08474,0
2,19.69,21.25,130.00,1203.0,0.10960,0
3,11.42,20.38,77.58,386.1,0.14250,0
4,20.29,14.34,135.10,1297.0,0.10030,0

In [13]:
df.shape

(569, 6)

In [14]:
df.isnull().sum()

mean_radius        0
mean_texture       0
mean_perimeter     0
mean_area          0
mean_smoothness    0
diagnosis          0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mean_radius      569 non-null    float64
 1   mean_texture     569 non-null    float64
 2   mean_perimeter   569 non-null    float64
 3   mean_area        569 non-null    float64
 4   mean_smoothness  569 non-null    float64
 5   diagnosis        569 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 26.8 KB

In [16]:
df.describe()

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.627417
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.483918
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.000000
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.000000
50%,13.370000,18.840000,86.240000,551.100000,0.095870,1.000000
75%,15.780000,21.800000,104.100000,782.700000,0.105300,1.000000
max,28.110000,39.280000,188.500000,2501.000000,0.163400,1.000000

## EDA