### Imports

In [2]:
import scipy.stats as stats
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Chi Square Test

Applies when testing two categorical variables from a single population. 

Used to determine whether or not there is a significant association between two categorical variables.

In [5]:
# Cross-table
df = pd.crosstab(df['sex'], df['smoker'])
print(df)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [6]:
# Calculating observed values
observed_values = df.values
print('Observed values: \n', observed_values)

Observed values:
 [[60 97]
 [33 54]]

In [15]:
# Chi - Square test of independence of variables in contingency table
val = stats.chi2_contingency(df)

In [18]:
val

(0.0,
 1.0,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [19]:
expected_values = val[3]

In [20]:
# Applying chi2 
from scipy.stats import chi2
chi_square = sum([(0-e)**2./e for o,e in zip(observed_values, expected_values)])
chi_square_statistics = chi_square[0]+chi_square[1]

print('Chi-Square statistic: ', chi_square_statistics)

Chi-Square statistic:  244.0